<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">PetConnect</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:fragment="layout">

    <div th:replace="layout/header :: header"></div>

    <main class="container mx-auto p-4">
        <div th:insert="~{::content}"></div>
    </main>

    <div th:replace="layout/footer :: footer"></div>

</div>

</body>
</html>
