<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body th:replace="~{layout/layout :: layout}">

<div th:fragment="content">
    <div class="max-w-3xl mx-auto mt-12 text-center">
        <h1 class="text-3xl font-bold mb-4">Welcome to PetConnect!</h1>
        <p class="text-gray-700 text-lg">You're successfully logged in.</p>
    </div>
</div>

</body>
</html>
