<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{home.title}">Fallback Title</title>
</head>
<body>
<h1 th:text="#{greeting}">Fallback Greeting</h1>

<p>
  <a href="/change-language?lang=en" th:text="#{language.switch} + ' (English)'">Change Language</a> |
  <a href="/change-language?lang=sv" th:text="#{language.switch} + ' (Svenska)'">Change Language</a> |
  <a href="/change-language?lang=fr" th:text="#{language.switch} + ' (Français)'">Change Language</a>
</p>


<button th:text="#{login.button}">Login</button>
<button th:text="#{logout.button}">Logout</button>
</body>
</html>