<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <title th:text="#{home.title}">Fallback Title</title>
</head>
<body>
<h1 th:text="#{greeting}">Fallback Greeting</h1>

<p>
  <span th:text="#{language.switch}">Change Language</span>:
  <a href="/change-language?lang=en">English</a> |
  <a href="/change-language?lang=sv">Svenska</a> |
  <a href="/change-language?lang=fr">Français</a> |
  <a href="/change-language?lang=es">Español</a> |
  <a href="/change-language?lang=hi">हिन्दी</a> |
  <a href="/change-language?lang=ar">العربية</a>
</p>


<button th:text="#{login.button}">Login</button>
<button th:text="#{logout.button}">Logout</button>
</body>
</html>